body {
    --bs-layout-bg-color: #012545FF;
    --bs-default-menu-link-color: #f5f5f5;
    /* --bs-hover-menu-link-color: #f5f5f5; */
}

.bg-primary-o {
    color: #f5f5f5;
    background-color: var(--bs-layout-bg-color) !important;
}

.bg-primary-o {
    color: #f5f5f5;
    background-color: var(--bs-layout-bg-color) !important;
}